# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Intellij
*.iml
.idea

# npm
node_modules
# pnpm (in devcontainer)
.pnpm-store

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Exclude an example of Syncthing API response
syncthing_config.json
# Generated main.css file from the imports in TypeScript.
main.css
# Outdir from esbuild
build
